[Desktop Entry]
Encoding=UTF-8
Name=Sscoin
Comment=Sscoin P2P Cryptocurrency
Comment[fr]=Sscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sscoin, eşten eşe kriptografik sanal para birimi
Exec=sscoin-qt %u
Terminal=false
Type=Application
Icon=sscoin128
MimeType=x-scheme-handler/sscoin;
Categories=Office;Finance;
